
a, a:visited {
    color: #2f97e9;
}
a:hover
{
    color: #7dbdff;
}

.demo
{
    margin: 0 0 0px;
}
.demo > *
{
    padding: 1px 0;
}
.demo > .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 0;
}
.demo .sandbox {
    padding: 0;
}
.demo select, .demo input, .demo .selectize-control {
    width: 100%;
}
.demo > *:first-child {
    margin-top: 0;
}
.demo > *:last-child {
    margin-bottom: 0;
}
.demo .value {
    font-size: 12px;
    margin: 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.demo .value span {
    font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
}


kbd {
    -moz-user-select: none;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(240, 240, 240)) repeat scroll 0 0;
    border: medium none;
    border-radius: 0.3em;
    box-shadow: 0 0 1px rgb(255, 255, 255) inset, 0 0.1em 0 rgb(200, 200, 200), 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.4);
    color: rgb(50, 50, 50);
    cursor: default;
    display: inline-block;
    font: 0.85em/1 "Open Sans","Lucida Grande",Lucida,Arial,sans-serif;
    min-width: 1em;
    padding: 0.2em 0.3em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.selectize-control.movies.loading::before {
    opacity: 0.4;
}
.selectize-control.contacts .selectize-input [data-value] .email {
    opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
    margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email::before {
    content: "<";
}
.selectize-control.contacts .selectize-input [data-value] .email::after {
    content: ">";
}
.selectize-control.contacts .selectize-dropdown .caption {
    display: block;
    font-size: 12px;
    opacity: 0.5;
}
